.mainContainer {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.loginBox {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  align-items: center;
  width: 40%;
  padding: 4rem 4.2rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 1rem #d4d4d4;
  border-radius: 0.9em;
}

.loginField {
  display: flex;
  flex-direction: column;
}

.loginField input,
.nameField input {
  width: 100%;
  height: 2.6rem;
  padding: 0.8rem;
  border: 0.1rem solid #dedede;
  background: none;
  border-radius: 0.4rem;
}

.loginButton,
.registerButton {
  padding: 0.4rem 2rem;
  font-weight: 600;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.4rem;
}

.registerTitle {
  display: flex;
  justify-content: center;
}

.registerSubtitle {
  display: flex;
  justify-content: center;
  color: #6e6e6e;
}

.loginButton {
  background-color: #f42b56;
}

.registerButton {
  background-color: #f42b56;
}

.loginButton:hover {
  background-color: #fd4c72;
}

.registerButton:hover {
  background-color: #ff7a97;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.loginBoxContainer {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.loginFieldNames {
  display: flex;
  gap: 0.8rem;
}

.loginFieldNames input {
  padding: 0.8rem;
}

.nameField {
  display: flex;
  flex-direction: column;
}

.btnLink button {
  width: 100%;
}

.linkContainer {
  display: flex;
  gap: 0.4rem;
  margin-top: 1.2rem;
}

.password {
  display: flex;
  position: relative;
}

.passwordInput {
  width: 100%;
}

.passwordToggleButton {
  position: absolute;
  right: 0.5rem;
  top: 2rem;
  width: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  border-radius: 0.4rem;
  background-color: none;
  cursor: pointer;
  height: 1.6rem;
}
