.ordersContainer {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.emptyMessage {
  margin: 3.6rem 0 3.6rem 0;
  color: #646464;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}
