.cartMainContainer {
  margin: 2.4rem 0 5.4rem 0;
  width: 80%;
  min-height: 35.4rem;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 0.8rem;
  box-shadow: 0.1rem 0.1rem 0.8rem #888888;
}

.cartLeftTitle,
.cartSummaryTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartLeftTitle h1,
.cartRightTitle h1 {
  padding: 0.6rem 0rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.cartRightTitle {
  background-color: none;
}

.cartRightSide {
  background-color: #aeaeae47;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.cartLeftSide,
.cartRightSide {
  padding: 3.2rem;
}

.cartLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartItem {
  padding: 3.2rem 1.2rem;
}

.cartList:nth-of-type(1) {
  border-top: #64646447 1px solid;
}

.cartBackArrow {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: space-between;
  text-decoration: none;
}

.cartBackArrow Link {
  text-decoration: none;
}

.cartRightSummary h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.cartRightSummary {
  display: flex;
  flex-direction: column;

  font-weight: bold;
  padding: 2rem 0 0 0;
  border-top: #64646447 1px solid;
  border-bottom: #64646447 1px solid;
}

.cartSummaryItem {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartSummaryItemShipping select,
.cartSummaryItemDiscount input {
  width: 100%;
  min-height: 2.8rem;
  padding: 0.4rem;
  border: 1px solid #646464c3;
}

.cartSummaryItemDiscount input {
  border: 1px solid #646464;
}

.cartSummaryItemDiscount {
  margin-bottom: 2.6rem;
}

.cartSummaryTotal {
  padding: 2.8rem 0 0 0;
}

.checkoutButton {
  margin-top: 1.2rem;
  padding: 1rem 0rem;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  border: none;
  background-color: #f42b56;
  border-radius: 0.4rem;
}

.cartSummaryItem {
  margin-bottom: 1.6rem;
}

.checkoutButton:hover {
  background-color: #fe3a65;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formItem input,
.formItem select {
  padding: 0.6rem 1.2rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.4rem;
}

.shippingForm {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.calculateShippingButton {
  margin-top: 1.2rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  background-color: #f42b56;
  border-radius: 0.4rem;
}

.formItemBottom {
  display: flex;
}

.formItemBottom input {
  width: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.cardDate {
  border-bottom-right-radius: 0 !important;
  border-right: none;
}

.cardCvc {
  border-bottom-left-radius: 0 !important;
}

.cardInformation {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.paymentMethod {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}


