.input {
  padding: 0.2rem 1rem;
  background-color: none;
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 1rem;
  resize: vertical;
  overflow: auto;
  min-height: 2rem;
  width: 23.2rem;
}

.searchBar {
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  padding: 0rem 0rem 0rem 0.8rem;
  border: solid 1px #a2a2a2;
  position: relative;
}

.searchBar ion-icon {
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-top-right-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  background-color: #f42b56;
  border: none;
  color: #ffffff;
}

.searchBar ion-icon:hover {
  background-color: #fc6182;
}

.searchBar:focus {
  border: 1px solid #f42b56;
}

.results {
  width: 100%;
  position: absolute;
  top: 2.2rem;
  left: -0rem;
  cursor: pointer;
  list-style: none;
  border-radius: 0.9rem;
}

.results > *:last-child {
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.results SearchItem:hover {
  background-color: #c5c5c5;
}
