.productCard {
  display: flex;
  background-color: #ffffff;
  color: #212121;
  flex-direction: column;

  min-width: 18.4rem;
  min-height: 8.2rem;
  box-shadow: 0.1rem 0.1rem 0.8rem #888888;
}

.productCardBody {
  padding: 0.4rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.productCardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productCardTitle h1 {
  font-size: 1.2rem;
}

.productCardTitle h2 {
  font-size: 1rem;
}

.productCardSubtitle {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #454545;
}

.productCardImage img {
  height: 12.8rem;
  width: 100%;
}

.productCardTop {
  display: flex;
  flex-direction: column;
}

.productCardBottom {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  align-items: center;
  margin-bottom: 1.2rem;
}

.productCardTitle h1 {
  width: 6.8rem;
  overflow: visible;
  overflow-wrap: break-word;
}
