.mainContainer {
  margin: 5.4rem 0 5.4rem 0;
  width: 80%;
  display: flex;
  justify-self: center;
  justify-content: center;
  gap: 5.6rem;
}

.productPhoto img {
  width: 36.2rem;
  height: 28.6rem;
  border: 1px solid #2b2b2b;
  align-self: flex-start;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  font-size: 1rem;
}

.productDescription {
  width: 14.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1.2rem;
}

.buttonBuy,
.buttonAddToCart {
  width: 100%;
  border-radius: 0.6rem;
  cursor: pointer;
  border: none;
  padding: 0.4rem 3.6rem;
  font-weight: 600;
  color: #ffffff;
}

.buttonBuy {
  background-color: #f42b56;
}

.buttonBuy:hover {
  background-color: #ff5f82;
}

.buttonAddToCart {
  background-color: #f36584;
}

.buttonAddToCart:hover {
  background-color: #f0829a;
}

.interactive,
.interactiveButtons {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.option {
  border: none;
}

.select {
  border-radius: 99px;
}

.select option {
  padding: 1.2rem 0.8rem;
}

.productCategory {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #5d5d5d;
}

.productQuantity {
  display: flex;
}

.productQuantity select {
  padding: 0rem 1.2rem;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.productDetailsTop {
  border-bottom: 1px solid #d4d4d4;
}

.productQuantityDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.8rem;
  border: 1px solid #d4d4d4;
  width: 4rem;
}

.productQuantity button {
  background: none;
  padding: 0rem 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  border: 1px solid #d4d4d4;
}

.productQuantity button:hover {
  background-color: #f42b56;
  color: #ffff;
  border: none;
  border: 1px solid #f42b56;
}

.productQuantityAndWishlist {
  display: flex;
  justify-content: space-between;
}

.wishlistButton {
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  border: 1px solid #d4d4d4;
  background: none;
  cursor: pointer;
}

.wishlistButton:hover {
  background-color: #f42b56;
}

.wishlistButton:hover ion-icon {
  color: #ffff;
  stroke: #ffff;
}

.wishlistButton ion-icon {
  width: 1.6rem;
  height: 1.6rem;
}
