.button {
  background: none;
  padding: 0.4rem 0.8rem;
  border: 1px solid #9999;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background-color: #fa6384;
  transition: all 0.2s;
}
