.listHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.listHeader span {
  justify-self: center;
}

.usersList {
  border: 0.1rem solid #b9b9b9;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.listHeader {
  display: grid;
  padding: 1.2rem;
  grid-template-columns: repeat(5, 1fr);
  font-weight: 600;
  background-color: #c57373;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  background-color: #f7f7f7;
  border: 0.1rem #b9b9b9 solid;
}

.listHeader span {
  display: flex;
  justify-content: center;
}

.usersTable {
  width: 100%;

  border-collapse: separate;
  border-spacing: 0;
}

.tableWrapper {
  margin-top: 2.6rem;
  margin-bottom: 5.6rem;
  border-radius: 1rem;
  overflow: hidden;
  border: 0.1rem solid #b9b9b9;
}
