.mainContainer {
  margin: 2.4rem 0 5.4rem 0;
  max-width: 800%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  gap: 5.6rem;
}

.productTop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.6rem;
}

.productBottom {
  margin-top: 4.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-wrap: normal;
}

.productPhoto {
  width: 36.2rem;
  height: 28.6rem;
  z-index: -1;
  align-self: flex-start;
}

.productPhotoZoom {
}

.option {
  border: none;
}

.select {
  border-radius: 99px;
}

.select option {
  padding: 1.2rem 0.8rem;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}
