.productCard {
  border-radius: 0.8rem;
  width: 14.2rem;
  border: 1px solid #dfdfdf;
  box-shadow: 0.1rem 0.1rem 0.8rem #888888;
}

.productCardBody {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0.8rem;
  font-weight: 500;
}

.productCardImage img {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  height: 14.8rem;
  width: 100%;
}
.productCardImage {
  padding: 1.2rem;
}

.productCard:hover {
  border: 1px solid #f42b56;
}
