.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4.2rem;
}

.productGrid {
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(6, 1fr);
}

.carousel {
  z-index: -111;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffffb3;
  z-index: 9999;
}

.bestDeals {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 14.6rem;
}

.bestDeals h2 {
  color: #4b4b4b;
}

.bestDealCategory,
.topCategoriesTitle,
.bestDealsViewAll ion-icon {
  color: #f42b56;
}

.bestDealsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productLink {
  text-decoration: none;
}

.bestDealsViewAll {
  display: flex;
  align-items: center;
  cursor: pointer;
}
