.orderClosed {
  border: 1px solid #cbcbcb;
  padding: 1.4rem 1.8rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.orderOpened {
  border: 1px solid #656565;
  padding: 1.4rem 1.8rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.order ion-icon {
}

.orderItem {
  border: 1px solid red;
  padding: 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderOpened span,
.orderClosed span {
  font-weight: 500;
}
