.order {
  padding: 0rem 1.8rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.order ion-icon {
  cursor: pointer;
}

.order span img {
  width: 3.8rem;
  height: 3.8rem;
}

.order span {
  display: flex;
  width: 4.8rem;
}
