.addProductContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1.4rem;
  width: 100%;
  margin-bottom: 3.5rem;
}

.openAddProductButton {
  color: #f42b56;
  font-weight: 600;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1.6rem;
  background-color: #fafafa;
  padding: 1.2rem 3.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 4.6rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

.hide {
  display: none;
}

.emptyMessage {
  color: #646464;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}
