.cartLeftTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.cartLeftTitle h1,
.cartRightTitle h1 {
  padding: 0.6rem 0rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.paymentMethod {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.shippingForm {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.formItem,
.formItemCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formItemBottom {
  display: flex;
}

.formItemBottom input {
  width: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.formItem input,
.formItem select,
.formItemCard input {
  padding: 0.6rem 1.2rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.4rem;
}

.formItem select {
  cursor: pointer;
}

.calculateShippingAndBackButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculateShippingButton {
  margin-top: 1.2rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  background-color: #f42b56;
  border-radius: 0.4rem;
}

.cardExpiration {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none;
}

.cardCvc {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.cardNumber {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  position: relative;
}

.inputError {
  border: 0.1rem solid #cd022e !important;
}

.cardNumberInputError {
  border: 0.1rem solid #cd022e !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.cardExpirationInputError {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none;
  border: 0.1rem solid #cd022e !important;
  border-top: none;
}

.cardCvcInputError {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: 0.1rem solid #cd022e !important;
}
.error {
  font-size: 0.8rem;
  color: #cd022e;
}

.cardFlags img {
  width: 2.6rem;
  border: 0.1rem #d6d6d6 solid;
  border-radius: 0.4rem;
  padding: 0.2rem 0.4rem;
}

.cardFlags {
  display: flex;
  position: absolute;
  right: 0.6rem;
  top: 2.1rem;
  gap: 0.2rem;
}

.formItemCard {
  position: relative;
}
