.listHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.listHeader span {
  justify-self: center;
}

.usersList {
  border: 0.1rem solid #b9b9b9;
  border-radius: 0.4rem;
}
