.productQuantity {
  display: flex;
}

.productQuantityDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.8rem;
  border: 1px solid #d4d4d4;
  width: 4rem;
}

.productQuantity select {
  padding: 0rem 1.2rem;
}

.productQuantity button {
  background: none;
  padding: 0rem 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  border: 1px solid #d4d4d4;
}

.productQuantity button:hover {
  background-color: #f42b56;
  color: #ffff;
  border: none;
  border: 1px solid #f42b56;
}
