.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: #64646447 1px solid;
}

.cartItemImg img {
  width: 6.2rem;
  height: 6.2rem;
}

.cartItemImg {
  display: flex;
}

.cartItemName {
  padding: 0;
}

.cartItemImgAndName {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-weight: 600;
  letter-spacing: 0rem;
  justify-self: flex-start;
}

.cartItemNameAndCategory {
  display: flex;
  flex-direction: column;
}

.cartItemNameAndCategory,
.quantity,
.totalPrice,
.cartItemRemove {
  width: 6.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cartCategoryName {
  color: #838383;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0;
  width: 0.1rem;
  display: flex;
  align-items: center;
}

.cartItemRemove ion-icon {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

.cartItemRemove ion-icon:hover {
  color: #7d7d7d;
}

.totalPrice {
  font-weight: bold;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.quantity ion-icon {
  min-width: 1rem;
  min-height: 1rem;
  cursor: pointer;
}

.quantity ion-icon:hover {
  color: #7d7d7d;
}
